<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114857028-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114857028-1');
</script>

    <meta charset="utf-8">
    <title>스위칭 다 보여</title>
    <style media="screen">
    .page_header{
      text-align: center;
    }
    .page_form{
      text-align: center;
    }
    .page_info{
      text-align: center;
    }
    #logo{
      width: 200px;
      height: auto;
    }
    </style>
  </head>
  <body>
    <div class='page_header'>
      <h1>스위칭 다 보여</h1>
    </div>

    <div class='page_form'>
      <p>

        <select class="server_name" name="서버명" id = "server">
          <option value="anton">안톤</option>
          <option value="bakal">바칼</option>
          <option value="cain">카인</option>
          <option value="casillas">카시야스</option>
          <option value="diregie">디레지에</option>
          <option value="hilder">힐더</option>
          <option value="prey">프레이</option>
          <option value="siroco">시로코</option>
        </select>
        <input type="text" name="캐릭터이름" value="캐릭명" id = "character">

        <a href="javascript:info_page()" onclick="info_page()">
          검색
        </a>

        <script type="text/javascript">
          function info_page(){
            var serverName = document.getElementById('server').value
            var characterName = document.getElementById('character').value
            location.href = "./info/" + serverName + "/" +characterName;
            console.log(location.href)
          }
        </script>
      </p>
    </div>
    <div class="page_info">
      <p>
        <a href="http://developers.neople.co.kr" target="_blank"><img id = "logo" src="https://developers.neople.co.kr/img/logo_t1.png" alt="Neople 오픈 API" / ></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#" href="http://www.switchingbox.site" property="cc:attributionName" rel="cc:attributionURL">프레이-리막이 18/02/27</a>에 의해 작성된 <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
          스위칭다보여</span>은(는) <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">크리에이티브 커먼즈 저작자표시-비영리 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
      </p>
      <p>

      </p>
    </div>


  </body>
</html>
