{% extends "switching/layout.html" %}
{% block title %}
{% endblock%}

{% block content %}
{% if equipment or avatar or creature%}

<div class='page_header'>
  <h1>스위칭 다 보여</h1>
</div>
<div class="page_contents">
{% for skill in skillInfo %}
  <h3>스위칭스킬:{{skill.skillName}}</h3>
{% endfor %}
<table class="type11">
  <thead>
  <tr>
      <th scope="cols">타입</th>
      <th scope="cols" id="mid">이름</th>
      <th scope="cols">이미지</th>
  </tr>
  </thead>
  <tbody>
    {% for equip in equipment %}
      <tr>
        <td>{{equip.slotId}}</td>
        <td>{{equip.itemName}}</td>
        <td><img src={{equip.url}}></td>
      </tr>
    {% endfor %}

    {% for ava in avatar %}
      <tr>
        <td>{{ava.slotId}}</td>
        <td>{{ava.itemName}}</td>
        <td><img src={{ava.url}}></td>
      </tr>
    {% endfor %}

    {% for cre in creature %}
      <tr>
        <td>creature</td>
        <td>{{cre.itemName}}</td>
        <td><img src={{cre.url}}></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% else %}
<div class='page_header'>
  <h1>스위칭 정보가 없습니다</h1>
  <h1>좌측상단에 Home버튼을 이용해 돌아간 후 다시입력하세요</h1>
</div>
{% endif %}
{% endblock %}
