<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114857028-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114857028-1');
</script>

    <meta charset="utf-8">
    <title>스위칭 다보여</title>
  </head>
  <body>
    {% if equipment or avatar or creature%}
    <h1>스위칭 다 보여</h1>
    <ul>
      {% for equip in equipment %}
        {{equip.slotId}}: {{equip.itemName}}
        <img src={{equip.url}}>
        <br>
      {% endfor %}

      {% for ava in avatar %}
        {{ava.slotId}}: {{ava.itemName}}
        <img src={{ava.url}}>
        <br>
      {% endfor %}

      <br>
      {% for cre in creature %}
        {{cre.itemName}}
        <img src={{cre.url}}>
        <br>
      {% endfor %}
    </ul>
    {% else %}
      스위칭정보없음
    {% endif %}
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#" href="http://www.switchingbox.site" property="cc:attributionName" rel="cc:attributionURL">프레이-리막이 18/02/27</a>에 의해 작성된 <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">스위칭다보여</span>은(는) <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">크리에이티브 커먼즈 저작자표시-비영리 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
  </body>
</html>
